<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saransh Ateliers</title>
    
    <!-- All CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="img/logo_image.png" width="150" height="120" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="#portfolio">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li> 
                     
            </ul>
          </div>
        </div>
      </nav>
         
         
    <!-- carousel start -->
    <div id="carouselExampleIndicators" class="carousel  slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/home-1.jpg" class="d-block w-100 back" alt="...">
            <div class="carousel-caption">
              <h5>Interior Design</h5>
                              <p>Design is not just what it looks like and feels like. Design is how it works.</p>
                              <p><a href="/interiorDesign" class="btn btn-secondary mt-3">Learn More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/home-2.jpg" class="d-block w-100 back" alt="...">
            <div class="carousel-caption">
              <h5>Architecture</h5>
                              <p>Architecture is the thoughtful making of space.</p>
                              <p><a href="/architecture" class="btn btn-secondary mt-3">Learn More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/home-3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Landscape Design</h5>
                              <p>Landscapes are the canvas upon which nature and art merge harmoniously.</p>
                              <p><a href="/landscape" class="btn btn-secondary mt-3">Learn More</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/home-4.jpg" class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption">
              <h5>Industrial Design</h5>
                              <p>Industrial design is the fusion of form, function, and innovation, shaping a better world through the power of design.</p>
                              <p><a href="/industrial" class="btn btn-secondary mt-3">Learn More</a></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- carousel ends -->

      <!-- about section starts -->
      <section id="about" class="unique01 about section-padding">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-12 col-12">
                      <div class="about-img">
                          <img src="img/profile.jpg" alt="" class="img-fluid imgabout">
                          <!-- <img src="img/profile.jpg" alt="" class="img-fluid"> -->
                      </div>
                  </div>
                  <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5 ">
                      <div class="about-text">
                            <h2 class="unique1">I'm interior designer who believes in  <br/> core Aesthetics</h2>
                            <p class="unique">Keen design sense and space-planning, commercial and residential design project. Excel at balancing form, function and budget consideration to deliver beautiful and custom design solution.</p>
                            <p class="unique">As a interior designer, i find minimalist and contemporary design incresingly popular among clients. These art prioritize functionality, simplicity, and individuality, creating a sense of calm and tranquility in living spaces. They allow clients to express their persona and lving hood without overwhelming their spaces . They are timless and adaptable, making them a practical and sustainable choice for long-term investments in living spces.
                            </p>
                            <!-- <a href="#" class="btn btn-warning">Learn More</a> -->
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- about section Ends -->
  
      <!-- portfolio strats -->
      <section id="portfolio" class=" mw-100 portfolio section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>PORTFOLIO</h2>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4">
                                <img src="img/home-1.jpg" class="img-fluid" alt="">
                            </div>
                            <h3 class="card-title">Interior Design</h3>
                            <p class="lead port">
                                Interior design enhances the functionality, aesthetics, and atmosphere of a space.</p>
                            <p><a href="/interiorDesign" class="btn btn-secondary mt-3">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/home-2.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Architecture</h3>
                            <p class="lead port">
                                Architecture shapes our built environment, providing shelter and inspiring culture.</p>
                            <p><a href="/architecture" class="btn btn-secondary mt-3">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/home-3.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Landscape Design</h3>
                            <p class="lead port">
                                Landscape design enhances the beauty, functionality, and sustainability of outdoor spaces.</p>
                            <p><a href="/landscape" class="btn btn-secondary mt-3">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                          <div class="img-area mb-4">
                              <img src="img/home-4.jpg" class="img-fluid" alt="">
                          </div>
                            <h3 class="card-title">Industrial Design</h3>
                            <p class="lead port">
                                Industrial design enhances products, merging form, function, and user experience.</p>
                            <p><a href="/industrial" class="btn btn-secondary mt-3">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- portfolio ends -->

      <!-- Contact starts -->
      <section id="contact" class="contact section-padding">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>Contact Us</h2>
                        <p>Always excited to talk!</p>
                    </div>
                </div>
            </div>
			<div class="row m-0">
				<div class="col-md-12 p-0 pt-4 pb-4">
					<form action="send" class="bg-light p-4 m-auto mainForm"
                    method="POST">
						<div class="row">
							<div class="col-md-12">
								<div class="mb-4">
									<input class="form-control" placeholder="Full Name" requiredtype="text" name="FullName" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-4">
									<input name="Email" class="form-control" placeholder="Email" required type="email" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="mb-4">
									<input name="phone" class="form-control" placeholder="Phone" required type="tel" required>
								</div>
							</div>
							<div class="col-md-12">
                                <label class="form-check-label mb-2" for="ProjectType">
                                    What type of project do you want -
                                  </label>
								<div class="mb-4">
									<div class="form-check">
                                        <input class="form-check-input" type="radio" name="projectType" value="InteriorDesign">
                                        <label class="form-check-label" for="InteriorDesign">
                                          Interior Design
                                        </label>
                                    </div>
									<div class="form-check">
                                        <input class="form-check-input" type="radio" name="projectType" value="Architecture">
                                        <label class="form-check-label" for="Architecture">
                                          Architecture
                                        </label>
                                    </div>
									<div class="form-check">
                                        <input class="form-check-input" type="radio" name="projectType" value="LandscapeDesign">
                                        <label class="form-check-label" for="LandscapeDesign">
                                          Landscape Design
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="projectType" value="IndustrialDesign">
                                        <label class="form-check-label" for="IndustrialDesign">
                                          Industrial Design
                                        </label>
                                    </div>
								</div>
							</div> 
                            <div class="col-md-12">
                                    <label for="HowYouKnowMe" class="mb-3">How did you hear about me -</label>
                                    <select class="form-control mb-5"     id="HowYouKnowMe" name="HowYouKnowMe">
                                        <option value="NoInput">Select options</option>
                                        <option value="Social Media">Social Media</option>
                                        <option value="Google Search">Google Search</option>
                                        <option value="From a friend">From a friend</option>
                                        <option value="Article">Article</option>
                                        <option value="Other">Other</option>
                                    </select>
                            </div>
                            <button class="btn btn-secondary btn-lg btn-block mt-3" type="submit">Send Now</button>
						</div>
            <div><%if(msg){%>
                  <%=msg%>
                  <% } %>
            </div>
					</form>
				</div>
			</div>
		</div>
      </section>
      <!-- contact ends -->

      <!-- footer starts -->
      <footer class="bg-dark p-2 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">  
                    <p class="text-white">Follow Me-
                        <div>
                            <a href="https://instagram.com/saransh_ateliers?igshid=YmMyMTA2M2Y="  target="_blank" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover .text-decoration-none">
                                <i class="fab fa-instagram fa-lg m-3"></i>
                            </a> 
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/saransh-paliwal"  target="_blank" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover .text-decoration-none">
                            <i class="fab fa-linkedin fa-lg"></i>
                            </a>
                        </div>
                    </p>
                </div>
                <div class="col-md-6">  
                    <p class="text-white">Connect-
                        <div class="text-white m-3">
                            saranshateliers.com
                        </div>
                        <div class="text-white">
                            9825032228
                        </div>
                    </p>
                </div>
            </div>
        </div>
          </div>
      </footer>
      <!-- footer ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        const mainForm = document.querySelector("#mainForm");
        element.addEventListener("click", myFunction);
        alert("hello");
    </script>
</body>
</html>