@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	/* font-family: 'Montserrat', sans-serif; */
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
	background: rgb(221, 221, 221);
}
.section-padding {
	padding: 100px 0;
}
/* navbar */
.navbar{
	position:absolute;
	top:0;
	left: 0;
	z-index: 2;
	width: 100vw;
}
.navbar-nav a {
	color: whitesmoke;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.mw-100 {
	min-height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background-color: gray;
	/* background: #fff; */
	/* color:black; */
}
.ram:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(119, 117, 117, 0.3);
	z-index: 1;
}
.ram{
    background-image:url("../img/home-1.jpg") ;
  height: 70vh;
  background-position: center;
  background-size: cover;
}
.name{
   position: absolute;
   top: 50vh;
   left:35%;
}
@media (max-width: 768px) {
  .circular-image {
      max-width: 400px;
      max-height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.img-area img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
	.about-text {
		padding-top: 50px;
	}
}
